{% extends "base.html" %}

{% block content %}
<p>Тип пользователя: 
    {% if user.account_type == 1 %}
        Администратор
    {% elif user.account_type == 2 %}
        Редактор
    {% elif user.account_type == 3 %}
        Наблюдатель
    {% endif %}
</p>

<!-- Пример ссылок (добавьте свои) -->
<ul>
    <li><a href="{{ url_for('pages') }}">Посмотреть страницы</a></li>
    {% if user.account_type == 1 %}
    <li><a href="{{ url_for('users') }}">Редактировать пользователей</a></li>
    {% endif %}
</ul>
{% endblock %}
