{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>{{ page.title }}</h1>
    <small>Created by: {{ page.owner_id }} | {{ page.created_at.strftime('%Y-%m-%d') }}</small>
</div>

<div class="page-content">
    <p>{{ page.body }}</p>
    
    {% if page.files %}
    <div class="attachments">
        <h3>Attachments:</h3>
        <ul>
            {% for file in page.files %}
            <li>
                <a href="{{ url_for('download_file', filename=file.filename) }}">
                    {{ file.filename }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<div class="actions">
    {% if current_user.account_type in [1, 2] %}
        <a href="{{ url_for('edit_page', page_id=page.page_id) }}" class="btn">Edit</a>
        <a href="{{ url_for('delete_page', page_id=page.page_id) }}" class="btn danger">Delete</a>
    {% endif %}
</div>
{% endblock %}
